 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1308px;
}

.u-section-1 .u-text-1 {
  margin: 48px auto 0;
}

.u-section-1 .u-blog-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  --gap: 10px;
  min-height: 1052px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 284px;
  width: 577px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -264px 607px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 607px 0 0;
}

.u-section-1 .u-metadata-1 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  height: 284px;
  width: 577px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -264px 607px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 607px 0 0;
}

.u-section-1 .u-metadata-2 {
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-image-3 {
  height: 284px;
  width: 577px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -264px 607px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 607px 0 0;
}

.u-section-1 .u-metadata-3 {
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 687px;
  }

  .u-section-1 .u-blog-1 {
    height: auto;
    margin-top: -32px;
    margin-bottom: -502px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 454px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 597px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 454px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 597px;
  }

  .u-section-1 .u-metadata-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 454px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 597px;
  }

  .u-section-1 .u-metadata-3 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 739px;
  }

  .u-section-1 .u-blog-1 {
    margin-top: -135px;
    margin-bottom: -554px;
  }

  .u-section-1 .u-image-1 {
    width: 404px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 234px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 424px;
  }

  .u-section-1 .u-metadata-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-2 {
    width: 404px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 234px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 424px;
  }

  .u-section-1 .u-image-3 {
    width: 404px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 234px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 424px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 803px;
  }

  .u-section-1 .u-blog-1 {
    margin-top: -264px;
    margin-bottom: -618px;
  }

  .u-section-1 .u-image-1 {
    width: 284px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -284px;
    margin-right: 314px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 22px;
    margin-right: 284px;
  }

  .u-section-1 .u-metadata-1 {
    width: auto;
  }

  .u-section-1 .u-image-2 {
    width: 284px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -284px;
    margin-right: 314px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 22px;
    margin-right: 284px;
  }

  .u-section-1 .u-metadata-2 {
    width: auto;
  }

  .u-section-1 .u-image-3 {
    width: 284px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -284px;
    margin-right: 314px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 22px;
    margin-right: 284px;
  }

  .u-section-1 .u-metadata-3 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2204px;
  }

  .u-section-1 .u-text-1 {
    width: 83px;
    margin-top: 39px;
  }

  .u-section-1 .u-blog-1 {
    margin-top: 0;
    margin-bottom: 38px;
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 2094px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    height: 334px;
    margin-top: 111px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -406px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 372px;
    margin-right: 0;
  }

  .u-section-1 .u-metadata-1 {
    margin-top: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
    margin-bottom: -4px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    height: 334px;
    margin-top: 111px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -406px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 372px;
    margin-right: 0;
  }

  .u-section-1 .u-metadata-2 {
    margin-top: 15px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 12px;
    margin-bottom: -4px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    height: 334px;
    margin-top: 111px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: -406px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 372px;
    margin-right: 0;
  }

  .u-section-1 .u-metadata-3 {
    margin-top: 15px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 12px;
    margin-bottom: -4px;
  }
}
